body {
  background: linear-gradient(180deg, #4947a8, #000255);
  color: #e6e6e6;
  text-align: center;
}

fieldset {
  margin: 20px 0;
}

header {
  background-color: #010033;
  width: 500px;
  margin: 10px auto;
  padding: 5px 20px;
}

html {
  font-family: Helvetica, sans-serif;
  /* This allows the gradient to extend to the bottom of the page */
  min-height: 100%;
}

section {
  background: #010033;
  margin: auto;
  padding: 20px;
  text-align: left;
  width: 500px;
}

a:link {
  color: orange;
}

#input-comments {
  padding: 4px;
  max-width: 490px;
  max-height: 500px;
}

#submit-button {
  background: #4947a8;
  border-color: #444473;
  color: #e6e6e6;
  margin: 20px 0 8px 0;
  padding: 6px 0;
}

.field-element {
  margin: 10px 0;
}

.footer-group {
  background-color: #010033;
  font-size: 14px;
  margin: 10px auto;
  padding: 5px 20px;
  width: 500px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.input-element {
  flex-grow: 1;
  margin-bottom: 20px;
}

.input-label {
  margin: 8px 0;
}

